@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    background-color: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top : 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.logo {
    position: fixed;
    left: 75px;
    top: 15px;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: bold;
    
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    font-weight: bold;
}

.navbar a:hover,
.navbar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    display:flex;
    align-items: center;
    padding: 0 10%;
}
